faiss-cpu==1.7.4  # Works for macOS + Python 3.9
langchain==0.2.1
langchain-community==0.2.1
chainlit==2.2.1
pdfplumber
openai
tiktoken==0.5.1

# python3 -m venv venv
# source venv/bin/activate
# pip install -r requirements.txt
